################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HPC/v17
/.vs
/Assignment1/MatrixMultiplication/MatrixMultiplication/x64/Debug
/Assignment1/MatrixMultiplication/.vs/MatrixMultiplication
